:root {
  /* --main-bg-color: #FEFCF3;
  --logo-color:black;
  --navigation-color:grey;
  --navigation-active-color:red;
  --tangible-border-color:rgb(255,165,0,.5);
  --art-border-color:rgb(66,217,200,.5);
  --other-border-color:rgb(255,0,0,.5); */

  --main-bg-color: #EEE2DE;
  --logo-color:#B31312;
  --link-color:#B31312;
  --navigation-color:#73683B;
  --navigation-active-color:#B31312;
  --tangible-border-color:rgb(179, 19, 18,0.3);
  --art-border-color:rgb(234, 144, 108,0.5);
  --other-border-color:rgb(234, 144, 108,0.5);
  --text-color:#2B2A4C;
  --category-text-color:#73683B;
}

/* test color:#96ADC8 #3E442B */
.subtitle{
  font-size: 16px;
  /* margin-top: -10px; */
  color: var(--tangible-border-color);
  display: none;
}
.project-thumb{
  display: block;
  text-align: center;
  margin-left: auto;
margin-right: auto;
  margin-top: 20px;
  width: 80%;
  border-radius: 10px;
}
.tagRow{
  padding-top: 5px;
  padding-bottom: 5px;
}
.contentTag{
  border-radius: 4px;
  
  font-size: 12px;
  margin: 0 2px;
  padding: 4px 10px;
  font-family: sans-serif;
  /* text-decoration: none; */
  /* text-transform: uppercase; */
}
.blue{
  background-color: #477DA5;
  color:#E9F3F7;
  /* background-color: #183347;
  color:#D3E5EF; */
}
.purple{
  background-color: #A48BBE;
  color:#F6F3F8;
  /* background-color: #7C658A;
  color:#E8DEEE; */

}
.orange{
  background-color: #6F5036;
  color:#FADEC9;
}
.green{
  background-color: #7E9484;
  color:#DBEDDB;
}
.grey{
  background-color: #706F6B;
  color:#E3E2E0;
}
.red{
  background-color: #8A504D;
  color:#FFE2DD;
}
.yellow{
  background-color: #826F58;
  color:#FDECC8;
}
.background-color-tangible{
  /* background: rgba(255, 233, 226, 1); */
  padding-bottom: 50px;
}
.background-color-interface{
  /* background: rgba(230, 242, 253, 1); */
  padding-bottom: 50px;
}
.project-image{
  width: 100%;
  border-radius: 10px;
}
#project-title{
  padding-top: 50px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}
#project-description{
  text-align: center;
  color: grey;
  margin-bottom: 32px;
}
.project-row{
  margin-bottom: 40px;
  margin-top: 40px;
}
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 50PX;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

}
.iframeContainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.project-info-row{
  border-width: 2px;
  border-radius: 5px;
  border-style:dashed;
  border-color:grey;
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  /* border-spacing: 10px; /*Optional*/ */
}
.project-info-column{
  text-align: center;
  display: table-cell;
  font-size: 20px;
  /* padding-left: 50px; */
  /* margin-right: 50px; */

}
.project-column {
  float: left;
  width: 80%;
  padding-right: 32px;
}
.note-arrow{
  font-size: 14px;
  padding-top: 50px;
  text-align: center;
  color: grey;
}
.note-column{
  /* font-family: 'Source Code Pro', monospace; */
  width:20%;
  float: left;
  font-size: 13px;
  /* margin-left: 16px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #F24C4C;
  border-width: 2px;
  border-radius: 5px;
  border-style:dashed;
  border-color:#F24C4C;
}
.project-row:after {
  content: "";
  display: table;
  clear: both;
}
.intro-text:after {
  content: "";
  display: table;
  clear: both;
}
.content-row:after {
  content: "";
  display: table;
  clear: both;
}
/* .info{
  color: red;
} */

a {
  color: inherit;
  /* cursor: pointer; */
}

a:hover {
  color: black;

}
.project-text {
  font-size: 20px;
  line-height: 28px;
}

/* a:link {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
} */



.into{
  color: red;
}
.into2{
  color: #00D2A0;
}
u {
  text-decoration: underline;
  /* text-decoration-color: red; */
  /* color: red; */
}
.nav-links{
  color: var(--navigation-color);
  position: absolute;
  right: 0px;
  display: inline-block;
  /* float: right; */
}

.content-row{
  margin-top: 50px;
  display: flex;
  flex-direction : row;
  margin-bottom:  20px;
}
.content-project {
  /* text-align: center; */
  position: relative;

  margin: auto;
  width: 60%;
}
.featured-on{
  color: grey;
  font-size: 16px;
  /* text-align: center; */
  margin-top: 20px;
  /* height: 20%; */
}


.t-category{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  border: 2px dashed;
  margin-left: -20px;
  margin-right: -20px;
  border-color:var(--tangible-border-color);
margin-top: -34px;
border-radius: 20px;

/* width: 50%; */
}
.a-category{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  margin-left: -20px;
  margin-right: -20px;
margin-top: -34px;
border-width: 2px;
border-radius: 20px;
border-style:dashed;
border-color:var(--art-border-color);

/* width: 50%; */
}

.to-category{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  margin-left: -20px;
  margin-right: -20px;
margin-top: -34px;
border-width: 2px;
border-radius: 20px;
border-style:dashed;
border-color:var(--other-border-color);

/* width: 50%; */
}

.content-category{
  color: var(--category-text-color);
  font-size: 18px;
  /* text-align: center; */
  font-weight: normal;
  padding:0px 20px 20px 0;
  margin-top:20px;
  /* writing-mode: vertical-rl;
text-orientation: mixed; */
  /* margin-top: 20px; */
}

.other-tag{
  margin-top:0px;
}
.content-text-t{
  /* margin-bottom: -30px; */
    background-color: var(--main-bg-color);
    /* margin-left: 20px; */
    border-width: 2px;
    border-color:var(--tangible-border-color);
    border-style:solid;
    border-radius: 10px;
    padding:2px 5px 2px 10px;

}
.content-text-a{
  /* margin-bottom: -30px; */
  /* margin-left: 20px; */
    background-color: var(--main-bg-color);
    border-width: 2px;
    border-color:var(--art-border-color);
    border-style:solid;
    border-radius: 10px;
    padding:2px 5px 2px 10px;

}
.content-text-to{
  /* margin-bottom: -30px; */
  /* margin-left: 20px; */
    background-color: var(--main-bg-color);
    border-width: 2px;
    border-color:var(--other-border-color);
    border-style:solid;
    border-radius: 10px;
    padding:2px 5px 2px 10px;

}
body {
  /* overflow: hidden; */
  /* font-family: 'Karla', sans-serif; */
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
body::-webkit-scrollbar {
  display: none;
}
.main-container{

  margin: auto;
  /* width: 80%; */
  max-width: 1200px;
  padding: 80px 0px 0px 0px;
  /* padding: 10px; */
  /* text-align: center; */
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
}
.content {
  /* text-align: center; */

    /* line-height: 44px; */

  position: relative;
  padding-top: 50px;
  margin: auto;
  /* width: 80%; */
  max-width: 1200px;
  /* padding-left: 75px;
  padding-right: 75px; */
  /* padding: 75px; */
}
.intro-name{
  font-size: 30px;
  /* font-weight: bold; */
  margin-bottom: 24px;
}
.project-name{
  font-size: 30px;
  font-weight: light;
  margin-bottom: 24px;
  margin-top: 0px;
}
.Project-link{
  color: #0000EE
}
.intro-text{
  display: flex;
  flex-direction : row;
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 28px;
  /* line-height: 44px; */

}
.about-section{
  display: flex;
  flex-direction : row;
  margin: auto;
  /* width: 80%; */
  max-width: 1200px;
  /* padding-left: 95px;
  padding-right: 95px; */
  padding-top: 50px;
  padding-bottom: 2rem;
  font-size: 28px;
  /* line-height: 44px; */
}
.project-section{
  display: flex;
  flex-direction : row;
  margin: auto;
  /* width: 80%; */
  max-width: 1200px;
  font-size: 28px;
  padding-top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  /* line-height: 44px; */
}
.numbers{
  font-size: 30px;
  font-weight: bold;
  color: grey;
}
.about-photo{
  width: 30%;
}
.about-text {
  float: left;
  padding-left: 120px;
  padding-right: 70px;
  width: 70%;
  font-size: 15px;
}
.explain-text {
  float: left;
  width: 40%;
  font-size: 15px;
  padding-right: 80px;
}
.photo-column {
  /* display: flex; */
/* justify-content: center; */
/* align-items: center; */
  float: left;
  width: 60%;
  /* height: 100%; */
}
.me{
  width: 100%;
}
.projectImage{
  position: relative;
  width: 100%;
  /* float: left;  */
}
.slidingImage{
  width: 100%;
}

.text-column {
  float: none;
  width: 100%;
}
.maro-column {
  display: flex;
justify-content: center;
align-items: center;
  float: left;
  width: 30%;
  /* height: 100%; */
}
.maro{
/* margin-top:20%; */
display: block;
vertical-align: middle;

}
mark {
  background-color: #ffc701;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  display: inline;
  padding: 20px;
}
.navigation {
  /* font-family: "GT Walsheim Regular"; */
  /* font-family: "Halyard Display Book"; */
  /* font-family: 'Assistant', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 22px;

  /* font size 30 */
  display: flex;
  align-items: center;
  position: relative;
}
.active{
  /* font-weight: bold; */
  color: var(--navigation-active-color);
  /* border-bottom: 2px solid black; */
}
.Left-name {
  font-weight: bold;
   font-size: 40px;
   color: var(--logo-color);
   /* color:#A25B5B; */
  /* padding-top: 80px; */
}
.card-deck .mt4{
  /* margin-top: -30px; */
/* margin-top: -60px; */
/* margin-bottom: -10px; */
/* background-color: transparent; */
}
.card{
  background-color: transparent;
}
.card-body{
  /* background: rgba(255, 233, 226, 1); */
  /* padding-top: !important 0px; */
  font-size: 18px;
  /* padding-bottom: 0px; */

}

.px-0{
  padding-top: 0px;
}

.featured-button{
  height:70px;
  width:auto;
  display:inline-block;
  padding-right:5px;
  padding-left:5px;
  padding-top: 10px;
}
.aboutText{
font-size: 20px;
}
.contentAbout{
  margin: auto;
  width: 60%;
}
.social{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 200%;
}
.distance{
  margin-left: 5px;
  margin-right:5px;
  /* margin-top: 15px; */
}
.footer{
  font-size: 12px;
  padding: 2rem;
  text-align: center;
  margin: auto;
  color: #404040;
}
/* body{
background-image: url("pattern.png");
} */
@media only screen and (max-width: 440px) {
  .navigation {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .content{
    margin: auto;
    width: 90%;
  }
}
/* default CSS styles */
/* @media (prefers-color-scheme: dark) { */
  /* body {
  color: #eee;
  background: #243447;
}
a:hover {color: red;}
.card{
  color: #eee;
  background: #121212;
}
.footer{
  color: #B3B3B3;
}
.content-text-tangible{
  background-color:#243447;
}
.content-text-interface{
  background-color:#243447;
}
.content-text-other{
  background-color:#243447;
}
.background-color-tangible{
  background: #243447;
}
.background-color-interface{
  background: #243447;
}

.content-category{
  color:white;
} */
/* .tangible-category{
  background: #243447;
}
.interface-category{
  background: #243447;
}
.other-category{
  background: #243447;
}
*/
/* .card-body{
  background: #243447;
}
.into{
  color:#E10600;
}
.active{
  color:#F4364C;
  font-weight: bold;
} */
/* } */
/* @media (prefers-color-scheme: light) {
  /* overwrite any default styles when
     the user has set the Light appearance */
/* } */
